.navbar-brand {
  font-size: 20px;
  background-image: linear-gradient(to right, #00b4ac, #585858, #9a2121);
  color: transparent;
  -webkit-background-clip: text;
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 30px;
}
@media (min-width: 768px) {
  html {
    font-size: 30px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(99, 0, 0, 0.05);
}

/* .container-fluid{
  background: linear-gradient(to bottom, #5beaf4 0%, #505051 100%);
} */
img{
  width: 60px;
/* height: 45px; */
margin-left: 10px;
padding-top: 15px;
margin-right: 1rem;
background-color: #6d6a6a;
}